# IDE
/.idea

# bundler config
/web/.bundle

# database
/web/db/*.sqlite3
/web/db/*.sqlite3-journal

# log files and temp files
/web/log/*
!/web/log/.keep
/web/tmp
/web/vendor/bundle

# compiled assets
/web/public/assets

# secret files
/web/config/secrets.yml

