= stylesheet_link_tag 'bootstrap-datepicker3.min'
= stylesheet_link_tag 'umakadata/calendar'
= javascript_include_tag 'bootstrap-datepicker.min'

javascript:
  $(function(){
    $('#calendar').datepicker({
      autoclose: true,
      endDate: new Date(),
      format: 'yyyy-mm-dd',
      todayHighlight: true
    });
  });

.form-group
  input.form-control#calendar[readonly='readonly' name='date' value=@date.strftime('%Y-%m-%d')]
input#jump-button.btn.btn-default[type='button' value='Jump']
