details {

  summary {
    font-weight: bold;
  }

  p {
    padding-top: 10px;
  }

}

table {
  word-break: break-all;
  word-wrap: break-word;
}

.page-header {
  h2 + div {
    .btn {
      margin-top: 15px;
    }
  }
}
