.poor {
  background-color: #F6D4D8;
}

.below_average {
  background-color: #FCF1D3;
}

.average {
  background-color: #FFFBD5;
}

.good {
  background-color: #EEF5D3;
}

.excellent {
  background-color: #C6EDDB;
}
