@import "~bootstrap/scss/bootstrap";
@import "components/sidebar";
@import "components/tooltip";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import "variables";

body {
  font-family: Roboto-Regular;
  font-size: 0.9rem;
  background: #D4ECE4;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $umakadata-text-color;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.2rem;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */
main .container {
  background: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0 !important;
  max-width: 100% !important;

  ul {
    li {
      margin-bottom: 10px;
    }
  }

  & + .container {
    margin-top: 1.5rem;
  }

  .sub-container {
    background: #F7F7F7;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 15px;

    & + .sub-container {
      margin-top: 1rem;
    }
  }
}

a {
  text-decoration: underline;
  color: $umakadata-text-color;
}

table {
  tr {
    color: $umakadata-text-color;

  }

  &.endpoint-list {
    tr {
      font-family: $font-family-base;
      height: 50px;

      th {
        color: #9A9A9A;
        border-style: none;
        font-weight: normal;
      }

      td {
        color: #000000;
        padding-top: 15px;
      }

      a {
        color: #000000;
      }
    }
  }

  &.table-striped > tbody > tr {
    &:nth-of-type(even) {
      background-color: #FFFFFF;
    }

    &:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
  }
}

ul.no-bullets {
  list-style: none;
  padding: 0;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: #7FC7AF;
  text-decoration: none;
}

.page-title-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;

  & + .page-title-body {
    margin-top: 0.75rem;
  }
}

.page-title-body {
  font-size: 14px;
  line-height: 19px;
}

.page-element {
  background: #FFFFFF;
  box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-title-sub-header {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 15px;
}

.page-title-subsub-header {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 15px;
}

.yummydata-logo {
  margin-bottom: 20px;
}

.yummydata-logo-background {
  position: fixed;
  left: 0px;
  bottom: 0px;
}
