@import "~bootstrap/scss/bootstrap";
@import "components/tooltip";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import "variables";

body {
  font-family: Roboto-Regular;
  font-size: 0.9rem;
  background: $umakadata-background-color;
  color: $umakadata-text-color;

  .container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.2rem;
}

/*
 * Header
 */
#header-wrapper {
  $header-height: 56px;

  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 24px;
  margin-top: 0;
  width: 100vw;
  background-color: $umakadata-background-color;
  z-index: 1000;

  font-family: $font-family-base;
  transition: margin 0.25s ease-out;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;

  #header-title {
    font-family: Roboto-Regular;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .navbar-toggler {
    border: none;
    outline: none;
  }

  .yummydata-logo {
    height: 40px;
    width: 48px;
    margin: 0;
  }

  @media (min-width: 768px) {
    display: none;
    margin-top: -$header-height;
  }
}

/*
 * Sidebar
 */
#sidebar-wrapper {
  $sidebar-width: 14rem;

  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 24px;
  margin-left: -$sidebar-width;

  font-family: $font-family-base;
  transition: margin 0.25s ease-out;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;

  .sidebar-heading {
    text-align: center;
    margin-bottom: 20px;
  }

  .list-group {
    width: $sidebar-width;
  }

  @media (min-width: 768px) {
    margin-left: 0;
  }
}

#header-wrapper, #sidebar-wrapper {
  .list-group {
    .list-group-item {
      padding: 0;
      background-color: unset;
      border: unset;

      & > a {
        text-decoration: none;
        margin: 0 10px;

        &:hover,
        &:focus {
          background: $umakadata-button-background-color;
          text-decoration: none;
        }
      }

      &.active > a {
        color: #fff;
        background: $umakadata-button-background-color;
      }
    }
  }
}

/*
 * Main content
 */
#page-content-wrapper {
  padding: 10px;

  .white-frame {
    background: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  @media (min-width: 768px) {
    min-width: 0;
    width: 100%;
    padding: 10px;
  }
}

main .container {
  background: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0 !important;
  max-width: 100% !important;

  ul {
    li {
      margin-bottom: 10px;
    }
  }

  & + .container {
    margin-top: 1.5rem;
  }

  .sub-container {
    background: #F7F7F7;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 15px;

    & + .sub-container {
      margin-top: 1rem;
    }
  }
}

a {
  text-decoration: underline;
  color: $umakadata-text-color;
}

table {
  tr {
    color: $umakadata-text-color;

  }

  &.endpoint-list {
    tr {
      font-family: $font-family-base;
      height: 50px;

      th {
        color: #9A9A9A;
        border-style: none;
        font-weight: normal;
      }

      td {
        color: #000000;
        padding-top: 15px;
      }

      a {
        color: #000000;
      }
    }
  }

  &.table-striped > tbody > tr {
    &:nth-of-type(even) {
      background-color: #FFFFFF;
    }

    &:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
  }
}

ul.no-bullets {
  list-style: none;
  padding: 0;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  color: $umakadata-button-color;
  background: $umakadata-button-background-color;
  text-decoration: none;
}

.page-title-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;

  & + .page-title-body {
    margin-top: 0.75rem;
  }
}

.page-title-body {
  font-size: 14px;
  line-height: 19px;
}

.page-element {
  background: #FFFFFF;
  box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-title-sub-header {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 15px;
}

.page-title-subsub-header {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 15px;
}

.yummydata-logo-background {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1000;
}
