@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3";
@import "variables";

#metrix-wrapper {
  .row {
    margin: -15px;
    justify-content: space-around;
  }

  .col {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(63, 63, 68, 0.10);

    &:last-child {
      border-bottom: none;
    }

    @media (min-width: 576px) {
      border-width: 0 1px 0 0;

      &:nth-child(1) {
        border-width: 0 1px 1px 0;
      }

      &:nth-child(3) {
        border-width: 0 0 1px 0;
      }

      &:nth-child(9) {
        border: none;
      }
    }

    @media (min-width: 1200px) {
      border: none;
    }
  }

  .col-separator {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(63, 63, 68, 0.10);
  }

  .metrix-title,
  .metrix-description {
    font-family: $font-family-base;
    text-align: center;
  }

  .number-data {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 5px;
  }

  .minus_variation {
    color: #FF9E9D;
  }

  .plus_variation {
    color: #3FB8AF;
  }
}

#scores-wrapper {
  #scores {
    .caption {
      font-size: 1.2rem;
      font-weight: bold;
    }

    ol.carousel-indicators {
      bottom: -60px;
      vertical-align: bottom;

      li {
        border-radius: 50%;
        margin: 1px 3px;
        height: $carousel-indicator-length;
        max-width: $carousel-indicator-length;
        background-color: grey;

        &.active {
          background-color: black;
        }
      }
    }

    .carousel-inner {
      margin-bottom: 40px;
    }

    .score-table-wrapper {
      max-width: calc(100vw - 80px);
    }
  }
}
