@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3";
@import "variables";

#progress-dialog {
  padding-top: 15%;
  overflow-y: visible;

  h3 {
    margin: 0;
  }

  .progress {
    height: 20px;
  }

  $progress-background-size: 40px;

  @keyframes progress-bar-stripes {
    from {
      background-position: $progress-background-size 0;
    }
    to {
      background-position: 0 0;
    }
  }

  .progress-bar {
    width: 100%;
    background-color: #337ab7;
    background-size: $progress-background-size $progress-background-size;
    animation: progress-bar-stripes 2s linear infinite;
  }
}

table {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 !important;
    }
  }

  .poor {
    background-color: #F6D4D8;
  }

  .below_average {
    background-color: #FCF1D3;
  }

  .average {
    background-color: #FFFBD5;
  }

  .good {
    background-color: #EEF5D3;
  }

  .excellent {
    background-color: #C6EDDB;
  }

  &.evaluation {
    td, th {
      &:last-child {
        border-left: 0;
      }

      &:nth-last-child(2) {
        border-right: 0;
      }
    }
  }
}

form {
  input.form-control {
    height: inherit;
    line-height: inherit;
    padding: 0.275rem 0.75rem;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .col-form-label {
    padding-top: calc(0.275rem + 1px);
    padding-bottom: calc(0.275rem + 1px);
  }

  .form-check {
    padding-left: 0;

    label {
      margin-bottom: 0;
    }
  }

  .checkbox-inline {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.chart {
  font-family: $font-family-base;
  color: $body-color;
}

.chart-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;

  & + .text-muted {
    font-size: 14px;
    text-align: center;
  }
}

.card-header {
  cursor: pointer;
}

.card-title {
  margin: 0;

  &[data-toggle="collapse"] {
    &:before {
      font-family: FontAwesome;
      color: $umakadata-text-color;
      content: "\f078";
      margin-right: 10px;
    }

    &.collapsed {
      &:before {
        font-family: FontAwesome;
        color: $umakadata-text-color;
        content: "\f054";
        padding-left: 4px;
      }
    }
  }
}

.log {
  table {
    margin-bottom: 0;

    &.table-bordered {
      border: none;
    }

    pre {
      color: $umakadata-text-color;
      margin-bottom: 0;
    }
  }

  & + .log {
    margin-top: 1rem;
  }
}

#load-more {
  display: none;
  margin-top: 1rem;

  &.show {
    display: block;
  }
}

#cy {
  height: 80vh;
}
