@import "../variables";

.header {
  display: none;
  background-color: $umakadata-background-color;
  font-family: $font-family-base;

  nav {
    font-family: Roboto-Regular;
  }

  .yummydata-logo {
    height: 40px;
    width: 48px;
    margin: 0;
  }
}

@media (max-width: 767px) {
  body {
    .container-fluid {
      padding-top: 50px + 15px !important;
    }
  }

  .header {
    display: block;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
    overflow-x: auto;
  }
}
