@import "../variables";

div.umakadata-tooltip {
  display: inline-block;

  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    color: $umakadata-text-color;
    content: "\f059";
    margin-left: 5px;
  }

  &:hover {
    position: relative;
    color: #333;

    p, span {
      display: block;
      position: absolute;
      top: 30px;
      left: -5px;
      font-size: 90%;
      color: #fff;
      background-color: #51A2C1;
      padding: 5px;
      border-radius: 3px;
      z-index: 100;
    }
  }

  p, span {
    display: none;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      left: 10px;
      border: 10px transparent solid;
      border-right-width: 0;
      border-left-color: #51A2C1;
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      z-index: 100;
    }

    &.large {
      width: 600px
    }

    &.medium {
      width: 400px
    }

    &.small {
      width: 200px
    }

    table {
      border: 1px solid #cccccc;

      th {
        color: #fff !important;
        padding: 5px;
      }

      td {
        color: #fff !important;
        padding: 5px;
      }
    }

  }

  a {
    color: #cccccc;
  }
}
