.row
  .col-md-12.page-element
    h3.page-title-header About
    #policy.page-title-body
      | Lots of RDF datasets can be accessed through SPARQL endpoints,
        but users generally have difficulty in finding relevant
        datasets or even endpoints. In addition, some endpoints provide
        rich metadata to describe contents, structures, and ontologies of
        stored datasets while others do not. To make datasets more
        useful and findable there needs to be a place where promising
        users can easily learn datasets from multiple aspects such as
        stability or richness of metadata. In addition, to facilitate
        sharing of users needs with data providers, the place of this
        kind should provide a medium on which both data providers and
        users can communicate. To solve these issues, Umaka-YummyData
        has been developed.
